<div class="pure-g-r">
    <div class="pure-u-1-5 l-box aside">
        <h1>Craigslator</h1> 
        <p>Ever wanted to make an **AWESOME** Craigslist post, but just found it 2 B too well-written????</p>
        <p>@@@USE the CR@IGSLATOR@</p>
        <p>post what u want to sell/buy ----------></p>
        <p>GET AN AWESOME POST BAK</p>
        <p>------------------------- ;)</p>
    </div>
    <div class="pure-u-4-5 l-box article">
    	<div class="pure-u-1"><%= @post.title %></div>
    	<div class="pure-u-1"><%= simple_format @post.description %></div>
    </div>
</div>