.container 						{  max-width: 980px; margin: 0 auto; }
.l-box 							{  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 1em; }
.pull-left 						{  float: left; }
.pull-right						{  float: right; }